[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	label-Verified = -1..+1 group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	push = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	read = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	rebase = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	removeReviewer = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	submit = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
[access "refs/heads/*"]
	create = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	push = +force group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	pushMerge = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	read = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
[access "refs/tags/*"]
	push = group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
	push = +force group user/◥ Ɽ₳ł₦₴₮₳Ⱡ₭₭ɆⱤ ◤ (Rainstalkker)
